<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7e7b6c">  <td>20/10/18 14:21:31</td>   <td>0</td> <td title="&gt;&gt;Base.startReport()[pri:0, instance:functionaltests.Plan_Travel@77ec78b9]">&gt;&gt;startReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2114874018</td>   <td></td> </tr>
<tr bgcolor="7e7b6c">  <td>20/10/18 14:21:32</td>   <td>216</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Base.LaunchBrowser(java.lang.String, java.lang.String)[pri:0, instance:functionaltests.Plan_Travel@77ec78b9]">&gt;&gt;LaunchBrowser</td> 
<td>&nbsp;</td>  <td>main@2114874018</td>   <td></td> </tr>
<tr bgcolor="d0c87b">  <td>20/10/18 14:21:40</td>   <td>8583</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Plan_Travel.checkflights()[pri:0, instance:functionaltests.Plan_Travel@77ec78b9]">checkflights</td> 
  <td>main@2114874018</td>   <td></td> </tr>
<tr bgcolor="7e7b6c">  <td>20/10/18 14:21:51</td>   <td>19857</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Base.getResult(org.testng.ITestResult)[pri:0, instance:functionaltests.Plan_Travel@77ec78b9]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@2114874018</td>   <td></td> </tr>
<tr bgcolor="7e7b6c">  <td>20/10/18 14:21:52</td>   <td>20746</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Base.LaunchBrowser(java.lang.String, java.lang.String)[pri:0, instance:functionaltests.Travel_information@1a3869f4]">&gt;&gt;LaunchBrowser</td> 
<td>&nbsp;</td>  <td>main@2114874018</td>   <td></td> </tr>
<tr bgcolor="cdbdf5">  <td>20/10/18 14:21:59</td>   <td>27706</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Travel_information.Travel_info()[pri:0, instance:functionaltests.Travel_information@1a3869f4]">Travel_info</td> 
  <td>main@2114874018</td>   <td></td> </tr>
<tr bgcolor="7e7b6c">  <td>20/10/18 14:22:11</td>   <td>39263</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Base.getResult(org.testng.ITestResult)[pri:0, instance:functionaltests.Travel_information@1a3869f4]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@2114874018</td>   <td></td> </tr>
<tr bgcolor="7e7b6c">  <td>20/10/18 14:22:11</td>   <td>40023</td> <td title="&lt;&lt;Base.endReport()[pri:0, instance:functionaltests.Plan_Travel@77ec78b9]">&lt;&lt;endReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2114874018</td>   <td></td> </tr>
</table>
